.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 20%;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  gap: 70px;
  margin-left: 10px;
}
.container button {
  font-size: medium;
  font-family: cursive;
  cursor: pointer;
  color: darkslategray;
  background-color: rgb(191, 221, 160);
  padding: 8%;
}
.content {
  margin-top: 5px;
}
.content p {
  width: 700px;
  height: 200px;
  padding: 20px;
  margin-left: 10px;
  border-radius: 2%;
  height: auto;
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.2);
  background-color: navajowhite;
  font-size: bold;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.iconss {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  width: 50rem;
  margin: 3px auto;
  border-radius: 1rem;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}
.iconcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.iconcard img {
  border-radius: 5%;
}
